<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/cabecalho :: cabecalho">
</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<div th:insert="fragments/menu :: menu"></div>
	<div class="container">
		<h1>Cadastro de Fornecedores</h1>
		<form th:action="@{/salvarFornecedor}" th:object="${CadastroDeFornecedor}" method="POST">
			Nome: <input type="text" class="form-control mb-4 col-4" th:field="*{nome}" />
			CNPJ: <input class="form-control mb-4 col-4" type="text" th:field="*{cnpj}" />
			Cidade: <input class="form-control mb-4 col-4" type="text" th:field="*{cidade}" />
			<input class="btn btn-secondary btn-sm mb-3" type="submit" />
			<a th:href="@{/fornecedor}" class="btn btn-primary btn-sm mb-3"> Cancelar </a>
		</form>
	</div>
	<div th:insert="fragments/rodape :: rodape"></div>
</body>

</html>