<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/cabecalho :: cabecalho">
</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<div th:insert="fragments/menu :: menu"></div>
	<div class="container">
		<h1>Editar Produtos</h1>
		<form th:action="@{/editarProduto}" th:object="${produto}" method="POST">
			<input type="hidden" class="form-control mb-4 col-4" th:field="*{id}" />
			Nome: <input type="text" class="form-control mb-4 col-4" th:field="*{nome}" />
			Descrição: <input type="text" class="form-control mb-4 col-4" th:field="*{sumario}" />
			Quantidade de Páginas: <input class="form-control mb-4 col-4" type="text" th:field="*{qntdPaginas}" />
			Categoria: <input class="form-control mb-4 col-4" type="text" th:field="*{categoria}" />
			URL Imagem: <input class="form-control mb-4 col-4" type="text" th:field="*{imgURL}" />
			Valor: <input class="form-control mb-4 col-4" type="text" th:field="*{preco}" />

			<button class="btn btn-primary btn-sm mb-3" type="submit"> Salvar </button>
			<a th:href="@{/listarProduto}" class="btn btn-primary btn-sm mb-3"> Cancelar </a>
		</form>
	</div>
	<div th:insert="fragments/rodape :: rodape"></div>
</body>

</html>