<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/cabecalho :: cabecalho">
</head>

<body class="text-center">
	<header class="masthead mb-auto" th:replace="fragments/header :: header"></header>

	<div class="container-xxl" style="height: 80%;">
	
			
				<h1  class="site-heading text-center" style="color: white;">Pedido efetuado com sucesso!</h1>
				<span th:text="${produto.nome}" class="section-heading-upper" style="color: white;"> </span>
				
				<p class="lead" style="color: white;">Boleto enviado para o e-mail cadastrado. Obrigado pela compra!.</p>
				<p>
					<a th:href="@{/}" class="btn btn-lg btn-secondary">Retornar à Pagina Inicial</a>
				</p>
	
	</div>

	



	
</body>

</html>