<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/cabecalho :: cabecalho">
</head>

<body>
	<header th:insert="fragments/header :: header"></header>

	<div th:insert="fragments/menu :: menu"></div>
	<!--<div th:case="'sucesso salvar'" class="alert alert-success alert-dismissible fade show" role="alert"
		th:text="${aviso})"></div>-->
	<div class="container">
		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:each="produto : ${opcoesDeProdutos}">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top">
							<img th:src="${produto.imgURL}" class="img-fluid"/>
								src="${produto.imgURL}"
								alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder" th:text="${produto.nome}"></h5>
									<!-- Product price-->
									<span th:inline="text">$ [[${#numbers.formatDecimal(produto.preco, 0, 'COMMA', 2, 'POINT')}]]</span>	
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/comprarProduto/{id}(id=${produto.id})}">Comprar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:insert="fragments/rodape :: rodape"></div>

</body>

</html>